#yourcalendar{
    background-color: rgb(255, 234, 44);
    font-family: 'VT323', monospace;
}

#title{
    background-color: rgb(255, 234, 44);
    font-size: 50px;
    color:#000000;
    text-align: center;
    z-index: 1px;
}

.cong:hover+.img{
    display:block;
}

.grid {
    display: flex;
    height: 120vh;
    z-index: -2;
  }

.rectangle {
    flex-grow: 1;
    /* background-color: #ffffff;  */
    border: 1px solid rgb(255, 255, 255); 
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.box {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 234, 44);
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 50px;
    /* color:rgb(255, 255, 15); */
    color:#ffffff;
    border-radius: 10px;
    /* background-color: #ffffff; */
    background-color:rgb(250, 220, 0) ;
    
}

.fixed{
    width:99.8%;
    position: fixed;
    top:0;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    z-index: -1;
}

.boxfixed {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 234, 44);
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 234, 44);
    
}

.workwrapper{
    
    border-radius: 10px;
}

.rrsp{
    font-size: 12px;
}

.object {
    cursor: pointer;
    user-select: none;
    /* background-color: rgb(255, 234, 44); */
    background-color: rgb(250, 220, 0);
}

.sub-object {
    display: none;
    user-select: none;
    background-color: #000000;
    width: 400px;
    display: none;
    position:absolute;    
}

.layout{
    border-radius: 10px;
    padding:10px;
    min-width: 30px;
    /* background:linear-gradient(0deg, #86431c 20%, rgb(221, 151, 30) 100%); */
    color:#ffffff;
    text-align: right;
    /* for gaps vertical between the items */
    margin-bottom: 4;
}

.object:hover{
    background-color: white;
    color:black;
}

#calendar{
    position:absolute;
    display: flex;
    height: 100vh;
    width:100%;
    top:340px;
    flex-direction: column;
}

#S1A2wrapper{
    padding-left: 0.5%;
    width:20%;

}

#RR4wrapper{
    padding-left: 4%;
    width:12%;
}

#RR5wrapper{
    padding-left: 8.5%;
    width:12%;
}

#RR6wrapper{
    padding-left: 15%;
    width:12%;
}

#S1A3wrapper{
    padding-left: 19.5%;
    width:12.5%;
}

#RR8wrapper{
    padding-left: 26%;
    width:12%;
}

#S2A1wrapper{
    padding-left: 29.5%;
    width:10%;
}

#RR9wrapper{
    padding-left: 32%;
    width:12%;
}

#S2A2wrapper{
    padding-left: 38%;
    width:7.5%;
}

#RR10wrapper{
    padding-left: 37.5%;
    width:12%;
    
}

#S2A3wrapper{
    padding-left: 43%;
    width:12%;
}

#RR12wrapper{
    padding-left: 48.5%;
    width:12%;
}
#RR13wrapper{
    padding-left: 54%;
    width:12%;
}

#S3A1wrapper{
    padding-left: 54%;
    width:12%;
}

#RR14wrapper{
    padding-left: 60%;
    width:12%;
}

#S3A2wrapper{
    padding-left: 63.5%;
    width:10%;
}

#RR15wrapper{
    padding-left: 65.5%;
    width:12%;
}

#S3A3wrapper{
    padding-left: 68.5%;
    width:15%;
}

#Portfoliowrapper{
    padding-left: 80%;
    width:20%;
}



/* content of rrsp */

#log{
    font-family: 'VT323', monospace;
    display: flex;
    width: 2000px;
    /* align-items: center; */
    /* justify-content: center; */
}

.paragraph{
    border-radius: 10px;
    padding:20px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    color:#a69126;
    text-align: left;
    /* for gaps vertical between the items */
    margin-bottom: 10;
}
