#yourcalendar{
    background-color: yellow;
    font-family: 'VT323', monospace;
}

#title{
    
    font-size: 50px;
    color:#000000;
    text-align: center;
}

.grid {
    display: flex;
    height: 100vh;
  }

.rectangle {
    flex-grow: 1;
    /* background-color: #ffffff;  */
    border: 1px solid rgb(255, 255, 255); 
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
  
.box {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color:rgb(219, 219, 0);
    border-radius: 10px;
    background-color: #ffffff;
    /* background:linear-gradient(0deg, #86431c 20%, rgb(221, 151, 30) 100%); */
}

.workwrapper{
    
    border-radius: 10px;
}

.layout{
    border-radius: 10px;
    padding:10px;
    min-width: 30px;
    /* background:linear-gradient(0deg, #86431c 20%, rgb(221, 151, 30) 100%); */
    color:#000000;
    background-color: #ffffff;
    text-align: right;
    z-index: 1px;
}

.layout:hover {
    background-color: white;
}


#RR4wrapper{
    width:12%;
    position:absolute;
    left:4%;
    top:420px;
}

#RR5wrapper{
    width:12%;
    position:absolute;
    left:8.5%;
    top:461px;
}

#S1A2wrapper{
    width:20%;
    position:absolute;
    left:0.5%;
    top:360px;
}

#RR6wrapper{
   
    position:absolute;
    left:308px;
    top:502px;
}

#S1A3wrapper{
    width:12.5%;
    position:absolute;
    left:340px;
    top:580px;

}

#RR8wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S2A1wrapper{
    width:10%;
    position:absolute;
    left:600px;
    top:480px;
}

#RR9wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S2A2wrapper{
    width:7.5%;
    position:absolute;
    left:780px;
    top:540px;
}

#RR10wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S2A3wrapper{
    width:12%;
    position:absolute;
    left:900px;
    top:620px;
}

#RR12wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}
#RR13wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S3A1wrapper{
    width:12%;
    position:absolute;
    left:1130px;
    top:680px;
}

#RR14wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S3A2wrapper{
    width:10%;
    position:absolute;
    left:1290px;
    top:740px;
}

#RR15wrapper{
    width:20%;
    position:absolute;
    left:10px;
    top:3600px;
}

#S3A3wrapper{
    width:15%;
    position:absolute;
    left:1450px;
    top:800px;
}

.object {
    cursor: pointer;
    user-select: none;
}

.sub-object {
    display: none;
    user-select: none;
    background-color: #ffffff;
}


  

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
  }
  
  strong {
    font-weight: bold;
  }
  
  .phase {
    margin-bottom: 20px;
  }
   */