
html, body {
    margin: 0;
  }
  
  /* Scrollbar Width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Hacky way to change the position of the scrollbar */
  #leftcol {
    direction: rtl;
    text-align: left;
  }
  
  #leftcol > * {
    direction: ltr;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #836161;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 154, 154); 
  }
  
  #leftcol {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 10em;
    width: 50%;
    height: 100vh;
    float: left;
    
    background: linear-gradient(0deg, #A3C6C4 0%, #6C7A89 100%);
    background-size: 200%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #rightcol {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 10em;
    width: 50%;
    height: 100vh;
    float: right;
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /* background-color: #D3AC2B; */
    
    overflow-x: hidden;
    overflow-y: scroll;
    background-size: 200%;
  }
  
  #floatclear {
    float: none;
  }
  
  @media screen and (max-width: 1000px) {
    #leftcol {
      width: 100%;
    }
    #rightcol {
      width: 100%;
      height: auto;
      overflow-y: hidden;
    }
  }


