#firstpage{
  background-color: rgb(255, 234, 44);
}

body {
  cursor: url("user.gif"),auto;
  min-height: 1000px;;
}

#title{
    padding-top: 100px;
    padding-left:calc(50vw - 200px);
    color: #000000;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 3px;
}

#topdiv{
    position: absolute;
    top:316px;
    left:calc(50vw - 200px);
    width: 400px;
    height: 267px;
    background-image: url("profil.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#relocate{
  position: absolute;
  bottom:15px;
  left: 15px;
  color:black;
  font-family: monospace;
}

a:link{
  color:#000000;
  font-family: monospace;
}

#bottomdiv{
    position: absolute;
    top:316px;
    left:calc(50vw - 200px);
    width: 400px;
    height: 267px;
    background-image: url("white.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-1;
}

#bottomdivmenu{
  position: absolute;
  top:316px;
  left:calc(50vw - 200px);
  width: 400px;
  height: 267px;
}

#mono1{
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 8px;
  letter-spacing: .19px;
  line-height:11.2px; 
  overflow: hidden;
  color:yellow;
}

#mono2{
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 8px;
  letter-spacing: .19px;
  line-height:11.2px; 
  overflow: hidden;
}

#topdiv:hover{
    opacity:0;
}

.highlight:hover{
  color:rgb(178, 178, 178);
}


  section {
    padding-top: 430px;
    padding-left:calc(50vw - 200px);
  }

  #styledtable {
    border-collapse: collapse;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 8px;
    letter-spacing: .19px;
    line-height:11.2px; 
  }

  
  #shopping, #social {
    font-size: 20px;
    display: block;
  }
  #shopping {
    margin-left: 200px;
  }
  #social {
    margin-left: 100px;
  }

  /* #styledtable td {
    border: 1px solid #000000;
    min-width: 200px;
    height: 200px;
    text-align: center;
  } */

  /* #styledtable tr:nth-child(even) {
    background-color: #999999;
  } */

  .animation{
    overflow: hidden;
    animation: linebyline 1s steps(45);
    animation-iteration-count: 1;
  }

  @keyframes linebyline {
    from {height: 0px;}
    to {height: 500px;}
  }
